<h1>product from</h1>
<%= form_with modal: :@create_v ,url: products_path, local: true do|form| %>
<table>
	<tr>
		<td><%= form.label :product_name %></td>
		<td><%= form.text_field :product_name %></td>
	</tr>
	<tr>
		<td><%= form.label :description %></td>
		<td><%= form.text_field :description%></td>
	</tr>
	<tr>
		<td><%= form.label :start_date %></td>
		<td><%= form.text_field :start_date%></td>
	</tr>
	<tr>
		<td><%= form.label :end_date %></td>
		<td><%= form.text_field :end_date %></td>
	</tr>
	<tr>
		<td><%= form.label :quantity %></td>
		<td><%= form.text_field :quantity %></td>
	</tr>
	<tr>
		<td><%= form.submit%></td>
	</tr>
</table>
<% end %>
