<h1>index page of product</h1>
<table>
	<tr>
		<td>product_name</td>
		<td>description</td>
		<td>start_date</td>
		<td>end_date</td>
		<td>quantity</td>
		<td>category</td>
	</tr>
	<% @index_v.each do |product| %>
	<tr>
		<td><%= product.product_name %></td>
		<td><%= product.description%></td>
		<td><%= product.start_date %></td>
		<td><%= product.end_date %></td>
		<td><%= product.quantity %></td>
		<td><%= product.category %></td>
		<td><%= link_to  'show' ,product_path(product) %></td>
		<td><%= link_to 'edit' ,edit_product_path(product)%></td>
		<td><%= link_to 'delete' ,geeta_destroy_path(product),

			data:{confirm: 'are you sure '} %></td>
	</tr>
	<% end %>
	<%= link_to 'new' , new_product_path %>
</table>