<p>
	<strong>product_name</strong>
	<%= @show_v.product_name%>
</p>

<p>
	<strong>description</strong>
	<%= @show_v.description%>
</p>

<p>
	<strong>start_date</strong>
	<%= @show_v.start_date %>
</p>

<p>
	<strong>end_date</strong>
	<%= @show_v.end_date %>
</p>
<p>
	<strong>quantity</strong>
	<%= @show_v.quantity %>
</p>
<p>
	<strong>category</strong>
	<%= @show_v.category %>
</p>
<%= link_to 'back' , products_path %>
